:root {
    --main-font: 'Roboto', sans-serif;
    --secondary-font: 'Raleway', sans-serif;
    --main-color: #2196F3;
}

body {
    font-family: "Roboto", "Raleway", sans-serif;
    list-style: none;
    text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    padding: 0;
}

ul,
ol {
    padding: 0;
    margin: 0;
}

p {
    padding: 0;
    margin: 0;
}

.list {
    list-style: none;
}

.link {
    text-decoration: none;
}

/* ---COMPONENTS--- */
.main-header {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.166;
    text-align: center;
    letter-spacing: 0.03em;
    color: #212121;
}

img {
    display: block;
}

.container {
    width: 1200px;
    align-items: center;
    margin: 0 auto;
}

.section {
    padding-bottom: 94px;
    padding-top: 94px;
}

/* ---END-COMPONENTS--- */





/* ---HEADER--- */

.header {
    height: 80px;
    border-bottom: 1px solid #ececec;
}

.header .container {
    display: flex;
    align-items: center;
}

.navigation_list,
.portfolio-navigation-list,
.Contact-header {
    display: flex;
    align-items: center;
}

.navigation_logo {
    font-family: var(--secondary-font);
    font-weight: 700;
    font-size: 26px;
    line-height: 1.192;
    letter-spacing: 0.03em;
    margin-right: 93px;
    color: var(--main-color);
    text-decoration: none;
    padding-top: 24px;
    padding-bottom: 25px;
    width: 145px;
}

.accent {
    color: #212121
}

.navigation-list-item:not(:last-child),
.portfolio-navigation-item:not(:last-child) {
    margin-right: 46px;

}

.navigation-list-item,
.portfolio-navigation-item {
    padding-top: 32px;
    padding-bottom: 32px;
}


.navigation-list-link,
.portfolio-navigation-link-accent,
.portfolio-navigation-link {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.142;
    letter-spacing: 0.02em;
    color: #212121;
}

.navigation-list-link:hover,
.navigation-list-link:focus,
.portfolio-navigation-link:hover,
.portfolio-navigation-link:focus,
.adress-link:hover,
.adress-link:focus,
.adress-phone-number-link:hover,
.adress-phone-number-link:focus,
.adress-email-footer:focus,
.adress-email-footer:hover,
.adress-phone-number-footer:hover,
.adress-phone-number-footer:focus {
    color: var(--main-color)
}


.portfolio-navigation-link-accent {
    color: #2196F3;
}


.adress-link,
.adress-phone-number-link,
.adress-email-footer,
.adress-phone-number-footer {
    font-style: var(--main-font);
    color: #757575;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.142;
    letter-spacing: 0.02em;
    padding-top: 32px;
    padding-bottom: 32px;
}

.adress-link {
    margin-left: 371px;
}

.adress-phone-number-link {
    margin-left: 50px;
}

/* ---END-HEADER--- */

/* ---HERO--- */
.modal-btn {
    font-weight: 700;
    font-size: 16px;
    line-height: 1.875;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    color: #FFFFFF;
    background: var(--main-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
}

.header-tittle {
    font-weight: 900;
    font-size: 44px;
    line-height: 1.363;
    letter-spacing: 0.06em;
    color: #FFFFFF;
}

/* ---END-HERO--- */

/*---DISCRIPTION--- */
.discription-title {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.142;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #212121;
}

.discription,
.portfolio-discription {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.714;
    letter-spacing: 0.03em;
    color: #757575;
}

.portfolio-discription-title {
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: #212121;
}

.portfolio-discription {
    font-size: 16px;
    line-height: 1.875;

}

/*---END-DISCRIPTION--- */


/*---ABOUT--- */

/*---END-ABOUT--- */


/*---TEAM--- */
.team-list-name,
.team-list-job {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.187;
    text-align: center;
    letter-spacing: 0.03em;
    color: #212121;
}

.team-list-job {
    font-weight: 400;
    color: #757575;
}

/*---END-TEAM--- */


/*---FOOTER--- */


/*---END-FOOTER--- */


/*---NAVIGATION-PORTFOLIO--- */


/*---END-NAVIGATION-PORTFOLIO--- */